@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color:  #f0ebf8;
    font-size: 16px;
    width: 100%;
}

.main {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: rgb(0,0,0.8);
    padding-top: 30px;
   
}

.main .logo img{
   width: 100%;
  border-radius: 10px;
  margin-bottom: -8px;
  border: 1px solid rgb(218, 220, 224);

}

.hero{
   margin-top: 0px;
}

/* Typography */
h1 {
    font-size: 2.4rem;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
}

 p {
    color: rgb(32, 33, 36);
    margin-top: 12px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    font-size: 14px;
 }

 span {
    font-weight: bold;
 }

 /* Content */

 .container {
    width: 100%;
    background-color:#fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    color: rgb(32, 33, 36);
    margin-bottom: 10px;
 }

 .hero {
    border-top: 10px solid rgb(103, 58, 183);
    color: rgb(32, 33, 36);
    margin-top: 20px;
 }
 .hero .second-paragraph {
    color:rgb(95, 99, 104);
 }


 .email-cloud {
   display: flex;
   justify-content: space-between;
   padding-left: 24px;
   padding-right: 28px;
   margin-top: 13px;
 }

 .box .email-box {
   display: flex;
   align-items: center;
 
 }



 .box .email-box h4 {
   font-weight: 300;
   font-size: 15px;
   margin-bottom: 10px;
 }

 .box .email-box strong {
   font-weight: 500;
 }
 .hero h4 {
    color: rgb(95, 99, 104);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
 }

 .hero img {
   height: 25px;
 }

.hero .question {
    color: rgb(217, 48, 37);
    font-weight: 400;
    padding-left: 24px;
    padding-top: 15px;
}
 .hero p {
    border-bottom: 1px solid rgb(218, 220, 224);
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
 } 

 .hero a {
    color: #15c;
    font-weight: 400;
    letter-spacing: .2px;
    text-decoration: none;
 }

 /* user input section */

 input[type="checkbox"] {
   width: 20px;
   height: 20px;
   accent-color: #007bff;
   border-radius: 5px;
   margin-right: 20px;
 }
 
 .box input { 
    width: 48%;
    border: none;
    outline-color: transparent;
    font-size: 14px;
    border-bottom: 1px solid rgb(218, 220, 224);
    margin-bottom: 24px;
    margin-left: 24px;
    margin-top: 15px;
    padding-bottom: 3px;
 }

 

 .hero .box .surname {
   transition: all 0.5s ease;
 }

  #surname:focus {
   border-bottom: 1px solid #007bff;
 }
 
 #surname:focus::before,
 #surname:focus::after {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 50%;
   height: 2px;
   background-color: #007bff;
   transition: all .5s ease;
 }

 #surname:focus::before {
   left: 50%;
   transform: translateY(-50%) scaleX(1);
   transform-origin: left;
 }

 #surname:focus::after {
   right: 50%;
   transform: translateY(-50%) scaleX(1);
   transform-origin: right;
 }

 #surname:not(:focus)::before,
 #surname:not(:focus)::after {
   width: 50%;
  transition: width 0.5s ease;

}

 
 
 
 .box p {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
 }

 .box p:after {
    content: "*";
    color: rgb(217, 48, 37);
    padding-left: 3px;
 }

 .container .upload {
    font-size: 12px;
    padding-top: 0;
    color:#70757a;
    font-weight: 400
 }

 .container #file {
    border-bottom: none;
 }

    .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    }

    .footer ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer ul li {
      list-style: none;
    }

 .button-clear a {
    text-decoration: none;
 }

 .footer p {
    padding-right: 70px;
    font-size: 11px;
    color:#70757a;
 }

 .footer .terms, h2 {
   text-align: center;
    color:#70757a;
    margin-top: 15px;
    margin-bottom: 15px;
 }

 .footer h2 {
    font-weight: 600;
 }

 .footer span {
    font-weight: 400;
 }
 .footer a {
    color:#70757a;
    font-size: 13px;
    color: rgb(103, 58, 183);
 }

 .footer .btn {
    background-color: rgb(103, 58, 183);
    color: white;
    padding: 10px 25px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
 }
 
 .footer .btn a{
    color: white;
 }



 @media (max-width:500px) {

   .main {
      display: block;
      width: 90%;
      margin: 0 auto;
      border-radius: 5px;

  }

  .main .logo img{
   width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid rgb(218, 220, 224);

}

  .container {
   width: 100%;
   margin: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
    
}

.hero h1 {
   font-size: 1.8rem;
   margin-top: 10px;
}

.hero .email-cloud {
   display: block;
}

.hero .email-cloud h4 {
   padding-right: 70px;
}

.hero h4 {
   color: rgb(95, 99, 104);
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 15px;
}

.box .email-box {
   display: flex;
   align-items: center;
   font-weight: 300;
   padding-bottom: 10px;
   padding-right: 5px;
 }

 .box .email-box h4 {
   font-weight: 300;
   font-size: 14px;
 }

 .box #mail {
   padding-bottom: 18px;
   padding-top: 3px;
 }

 .box p {
   padding-bottom: 20px;
   padding-top: 3px;
   font-size: 14px;
 }
.box input { 
   width: 80%;
   border: none;
   outline-color: transparent;
   font-size: 14px;
   border-bottom: 1px solid rgb(218, 220, 224);
   margin-bottom: 24px;
   margin-left: 24px;
   margin-top: 15px;
}

input[type="checkbox"] {
   width: 20px;
   height: 20px;
   accent-color: #007bff;
   border-radius: 5px;
   margin-right: 10px;
 }

 .email-box #record {
   display: block;
        
 }

.footer {
   width: 100%;
  
   }


   .footer h1 {
      font-size: 40px;
    }

      h2 {
         text-align: center;
      font-size: 25px;
      margin-top: 5px;
    }

    .footer .terms {
      width: 99%;
      margin-left: 35px;
   font-size: 12px;
 
    }

    .footer .terms a {
      font-size: 12px;
    }
   }



